@import "../App.scss";
.navbar {
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  border-bottom: 1px solid $border-color;

  &__logo {
    margin: 0;
    font-size: 20px;
    color: white;
    background-color: $secondary-color;
    padding: 5px 10px;
  }
  &__actions {
    padding-top: 10px;
  }
  a {
    text-decoration: none;
    color: $grey-font-color;
    font-weight: bold;
    padding: 10px 2rem;
    border-radius: 2rem;
    width: max-content;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid $border-color;
    }
  }
  button {
    border: 1px solid transparent;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
    color: $grey-font-color;
    border-radius: 2rem;
    padding: 10px 2rem;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
    &:hover {
      border: 1px solid $border-color;
    }
  }
  .active {
    color: $secondary-color;
  }
}

.card {
  width: 800px;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &__user {
    display: flex;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    span {
      font-size: small;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }
  }
  h4 {
    margin-bottom: 5px;
  }
  p {
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.commentCard {
  box-shadow: $box-shadow;
  padding: 10px 1rem;
  border: 1px solid $border-color;
  border-radius: 1rem;
  width: 50%;
  margin-top: 1rem;
  &__img {
    width: 30px;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 10px;

    &__info {
      display: flex;
      flex-direction: column;
    }
  }
}
